// Navbar
.navbar {
  background: rgba(23, 87, 165, 0.5) !important;
  padding: 0 38px;
  @media screen and (max-width: 768px) {
    padding: 0;
  }
}
.navbar-menu {
  background: transparent;
}
.navbar-item {
  img {
    max-height: 75px;
  }
}
.navbar-start {
  display: flex;
  align-items: stretch;
  justify-content: center;
  margin-left: auto;
  margin-right: 0;

  @media screen and (max-width: 1024px) {
    flex-direction: column;
  }
}

// Button
.button {
  display: inline-flex;
  align-items: center;
  height: 50px;
  padding: 0 24px;
  background: linear-gradient(180deg, #029aff 0%, #014a83 100%);
  border: 2px solid #00d9f8;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 900;
  font-size: 21px;
  line-height: 28px;
  color: #ffffff;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transform: skew(-10deg);
  & > * {
    transform: skew(10deg);
  }
  transition: all 0.2s;
  &:hover {
    color: #ffffff !important;
    transform: skew(-10deg) scale(1.05);
  }
  @media screen and (min-width: 1216px) {
    min-width: 187px;
  }
  &.is-primary {
    background: linear-gradient(180deg, #ffd903 0%, #eaaa1f 100%);
    border: 2px solid #ffde25;
  }
}

// Section
section {
  display: flex;
  justify-content: center !important;
  padding: 30px !important;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  overflow: hidden;
  @media screen and (max-width: 1216px) {
    height: auto !important;
  }
  @media screen and (max-width: 1024px) {
    background: none;
  }
}
// Section title
.section-title {
  background: linear-gradient(180deg, #ffd903 0%, #eaaa1f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-style: normal;
  font-weight: 900;
  font-size: 60px;
  line-height: 79px;
  text-align: center;
  text-shadow: 0 4px 24px rgba(0, 0, 0, 0.25);
  margin-bottom: 0px;
  @media screen and (max-width: 1024px) {
    font-size: 26px;
    line-height: 45px;
    margin-bottom: 36px;
  }
}

// Slider
.slider {
  position: relative;
  overflow: hidden;
  .slider__arrow {
    position: absolute;
    cursor: pointer;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 1000;
  }
  .slider__next {
    right: 0;
    left: auto;
  }
}

// Team card

.team-card {
  box-shadow: none;
  background: transparent;
  padding: 16px;
  .title {
    text-transform: uppercase;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 46px;
    text-align: center;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 16px;
  }
  .subtitle {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 33px;
    text-align: center;
    color: #00d9f8;
  }
  .card-image {
    img {
      border-radius: 50%;
      border: 3px solid #00d9f8;
    }
  }
}

// Timeline

.timeline {
  position: relative;
  padding: 40px 0;
  margin: 0 20px;
  box-sizing: border-box;
}
.timeline:before {
  content: "";
  position: absolute;
  top: -30px;
  left: 50%;
  width: 5px;
  height: 100%;
  background: #fff;
}
.timeline ul {
  padding: 0;
  margin: 0;
}
.timeline ul li {
  list-style: none;
  position: relative;
  width: 50%;
  padding: 20px 40px;
  box-sizing: border-box;
}
.timeline ul li:nth-child(odd) {
  float: left;
  text-align: right;
  clear: both;
}
.timeline ul li:nth-child(even) {
  float: right;
  text-align: left;
  clear: both;
}
.content {
  padding-bottom: 20px;
  display: none;
  .show & {
    display: block;
  }
}
.timeline ul li:nth-child(odd):before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  top: 24px;
  right: -6px;
  background: #ffb046;
  border-radius: 50%;
  box-shadow: 0 0 0 3px #ffb046;
}
.timeline ul li:nth-child(even):before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  top: 24px;
  left: -4px;
  background: #ffb046;
  border-radius: 50%;
  box-shadow: 0 0 0 3px #ffb046;
}
.timeline ul li h3 {
  padding: 0;
  margin: 0;
  color: #ffb046;
  font-weight: 600;
}
.timeline ul li p {
  margin: 10px 0 0;
  padding: 0;
}
.timeline ul li .time h4 {
  margin: 0;
  padding: 0;
  font-size: 14px;
}
.timeline ul li:nth-child(odd) .time {
  position: absolute;
  top: 12px;
  right: -165px;
  margin: 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #fff;
  padding: 4px;
  cursor: pointer;
}
.timeline ul li:nth-child(even) .time {
  position: absolute;
  top: 12px;
  left: -165px;
  margin: 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #fff;
  padding: 4px;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .timeline {
    width: 100%;
    padding-bottom: 0;
  }
  h1 {
    font-size: 40px;
    text-align: center;
  }
  .timeline:before {
    left: 20px;
    height: 100%;
  }
  .timeline ul li:nth-child(odd),
  .timeline ul li:nth-child(even) {
    width: 100%;
    text-align: left;
    padding-left: 50px;
    padding-bottom: 50px;
  }
  .timeline ul li:nth-child(odd):before,
  .timeline ul li:nth-child(even):before {
    top: -18px;
    left: 16px;
  }
  .timeline ul li:nth-child(odd) .time,
  .timeline ul li:nth-child(even) .time {
    top: -30px;
    left: 50px;
    right: inherit;
  }
}
